{%  extends 'base.html' %}

{% block title %} Check aim {{ aim_list.pk }} {% endblock %}
{%  block content %}
    <h1>{{ aim_list.aim }}</h1>
    <h3>Статус: {{ aim_list.status }}</h3>
    {% if aim_list.description != '' %}
        <h3>Oписание: {{ aim_list.description}}</h3>
    {% else %}
        <h3>Описание: отсутствует</h3>
    {% endif %}
    {% if aim.deadline_at is None %}
        <h3>Время не указано</h3>
    {% else %}
        <h3>Дедлайн: {{ aim.deadline_at }}</h3>
    {% endif %}
{% endblock %}

