{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet"  href="{% static '/style.css' %}">
</head>
<body>
    <h1>Задача: {{ aim_list.aim }}</h1>
    <h2>Статус: {{ aim_list.status }}</h2>
    <h2>Основные моменты:{{ aim_list.description }}</h2>
    <p>Дедлайн:{{ aim_list.deadline_at }}</p>

</body>
</html>