body {
    font-family: Arial, sans-serif;
    background: #facaca;
}

h1{
    color: #020142;
    font-size: 45px;
    font-style: italic;
}

h3{
    color: #020142;
    font-style: italic;
}

h4{
    color: darkslategray;
    font-size: 18px;
}