{% extends 'base.html' %}

{% block title %} Check project {{ projects.pk }} {% endblock %}
{% block nav %}
    {% if perms.todolist.add_todolist and user in check_project.user.all %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'tracker:list_add' check_project.pk %}">Добавить задачу
                в проект</a>
        </li>
    {% endif %}
    {% if perms.todolist.change_projects %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'tracker:project_update' check_project.pk %}">Редактировать
                проект</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <h3>Проект: {{ check_project.title }}</h3>
    {% if check_project.description == '' %}
        <h3>Описание отсутствует</h3>
    {% else %}
        <h3>Описание: {{ check_project.description }}</h3>
    {% endif %}
    <h3>{{ check_project.start_date }}-{{ check_project.end_date }}</h3>
    <br>
    {% if check_project.user.all is None %}
        <h3>Пользователи не добавлены</h3>
    {% else %}
        <h3>Пользователи:</h3>
        {% for user in check_project.user.all %}
            <p><a href="{% url 'accounts:user_profile' user.id %}">{{ user.username }}</a></p>
        {% endfor %}
        {% if perms.todolist.can_add_users_to_project and user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'tracker:user_update' check_project.pk %}">Изменить
                пользователей</a>
        {% endif %}
    {% endif %}
    <br>
    {% if perms.todolist.add_todolist and user in check_project.user.all %}
        <h3>Задачи проекта: </h3>
        <div class="container">
            <div class="row justify-content-between">
                {% for aim in projects.project.all %}
                    <div class="card mb-3" style="width: 20rem;">
                        <div class="card-body">
                            <p>{{ aim.aim }}</p>
                            <p>Стасус: {{ aim.status }}</p>
                            <p>Тип:
                                {% for type in aim.type.all %}
                                    {{ type.type_obj }}{% if not forloop.last %}, {% else %}. {% endif %}
                                {% endfor %}</p>
                            <a href="{% url 'tracker:list_check' aim.pk %}">Просмотреть</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h3>Задачи недоступны для просмотра</h3>
    {% endif %}
{% endblock %}

