{% extends 'base.html' %}
{% block nav %}
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'tracker:project_add' %}">Добавить проект</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'tracker:index' %}">Просмотреть все задачи</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'tracker:index' %}">Просмотреть все задачи</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-start">Projects:</h1>
        {% for project in projects %}
            <div class="card mb-3 w-50 text-start">
                <div class="card-body">
                    <h3>{{ project.title }}</h3>
                    <h4>{{ project.description }}</h4>
                    <h4>{{ project.start_date }} - {{ project.end_date }}</h4>
                    <div class=" btn-group">
                        <a class="btn btn-primary text-light" style="text-decoration: none"
                           href="{% url 'tracker:project_check' project.pk %}">Просмотреть
                            проект</a>
                        <br>
                        {% if user.is_authenticated %}
                            <a class="btn btn-danger text-light" style="text-decoration: none"
                               href="{% url 'tracker:project_delete' project.pk %}">Удалить
                                проект</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
